.navbar-container {
  margin: 30px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  font-size: 20px;
  &:hover {
    color: #8a2cf4;
    font-weight: bolder;
  }
}

.active {
  color: #8a2cf4;
  font-weight: bold;
}
