.card {
  height: 400px;
  width: 400px;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.violet {
  background: #870cf7;
}

.yellow {
  background: #ffc100;
}

.card_title {
  text-align: center;
}

.white_font {
  color: #f5f5f5;
}

.black_font {
  color: #000000;
}

.card_descr {
  display: flex;
  justify-content: center;
}
