.search_bar {
  background-color: #efe8ff;
  border-radius: 1rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  input {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: transparent;
  }
  input:focus-visible {
    outline: none;
  }
}

.search_icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #870cf7;
  border: none;
}
