.cards_container {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 50px 0 50px 0;
  user-select: none;
}

.purple {
  color: #870cf7;
}

.heading {
  margin: 50px 0 100px 0;
  text-align: center;
}

.sub_heading {
  margin: 0 0 50px 100px;
}
